@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');

:root {
    --default-padding: 0;

    --bg-color: #1f1f1f;
    --text-color: #ffffff;
    --inactive-color: #4f4f4f;
    --accent-color: #111111;
    --item-color: #252525;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: var(--bg-color);

    padding: 0 0 0 0;
    margin: 0 0 0 0;

    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    margin: 0;
}

p {
    color: var(--text-color);
    font-family: "Noto Serif", serif;
}

a {
    text-decoration: none;
}

#spacer {
    padding: 0 0 0 0;
    color: var(--bg-color);
    margin-top: 41px;
}

#title {
    background-color: var(--accent-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 82px;
}

#title>h1 {
    position: fixed;
    left: 20px;
    top: 15px;
}

#title>h6 {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    position: fixed;
    left: 20px;
    top: 50px;
}

#title>#buttons {
    position: fixed;
    left: 25%;
    top: 21.5px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

@keyframes buttons-out {
    to {
        color: var(--inactive-color);
    }
    from {
        color:var(--text-color);
    }
}

#title>#buttons>a {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    animation-name: buttons-out;
    animation-duration: 0.5s;
    color: var(--inactive-color);
}

#title>#buttons>div {
    background-color: var(--inactive-color);
    width: 1px;
    height: 40px;
}

@keyframes buttons-in {
    from {
        color: var(--inactive-color);
    }
    to {
        color:var(--text-color);
    }
}

#title>#buttons>a:hover {
    animation-name: buttons-in;
    animation-duration: 0.5s;
    color: var(--text-color);
}

.item {
    width: 100%;
    height: 1024px;
    background-color: var(--item-color);
}